 
.details-post{
    margin-top:20px ;
    
}
.detailsPost-title >p{
    direction: rtl;
    float: right;
    /* color:red; */
    padding-right:18px;
    padding-top:20px;
    margin-right:20px;
}
.detailsPost-image{
    width: 100%;
    height:400px;
    /* margin-top: px; */
    border:1px solid #e0e0e0;
    /* box-shadow: 1px 0 1px 0; */
    
}
 .detailsPost-body{
    direction: rtl;
    float: right;
    margin-top:30px;
 
     
    
    text-align: justify;
    
 }
 .detailsPost-body>p{
     font-size:15px;
     padding: 10px 25px 0 35px;
     
     
     line-height: 30px;

 }
 .detailsPost-image{
     border:1px solid #e0e0e0
 }
  
  