.MuiTable-root-1 td{
    font-size: 16px;
    color:white;
}
.MuiTable-root-1 th{
    font-size: 16px;
    color:white;
}
.managepost{
    margin-top:0px;
    
}
 
 .managepost-wrapper{
     width:76%;
     margin-top:30px;
     margin-left:10px;
     /* background-color:  */
     background-color: #9c27b0;
 }
 