.sendPost{
    /* margin-top: 10px; */
    padding-right: 20;
    margin-top:30px;
  
    
    /* border:1px solid red; */
}
.sendpost-title{
    text-align:center;
    margin-top:10px;
    font-size:25px;
    /* color:red */
}
 .custom-select{
     direction: rtl
 }
 input[name='title']{
     direction: rtl;
 }
   .sidePanel{
       margin-top:30px;
       margin-right:10px;
   }